<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homeworklearn">

    <!-- 读取外部文件的权限 -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app1024"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app1024"
        android:supportsRtl="true"
        android:theme="@style/Theme.Homeworklearn">
        <service
            android:name=".ui.sidebar_fragment.bindService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ui.sidebar_fragment.startService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/dialog_set_diy" />

        <activity
            android:name=".MainActivity"
            android:label="homeworklearn">

        </activity>


        <activity
            android:name=".new_world_java"
            android:label="骆发茂的APP"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.newworldtwo.newworldtwo_mainactivity"
            android:label="newworldtwo_mainactivity">

        </activity>

        <activity
            android:name=".ui.newworldtwo.GameActivity"
            android:screenOrientation="landscape"
            android:theme="@style/noActionBar" />


        <activity
            android:name=".SiderbarActivity"
            android:label="SiderbarActivity" />

        <receiver
            android:name=".ui.notifications.Static_Myreceiver"
            android:enabled="true"
            android:exported="true"
            android:label="static_Myreceiver">

            <!-- 在这个子元素中定义过滤条件，确定接收处理哪一类的intent -->
            <intent-filter>

                <!-- action用来区分接收哪个广播 -->
                <action android:name="com.example.homeworklearn.ui.notifications.static_Myreceiver" />
            </intent-filter>
        </receiver> <!-- 注册many_buttonActivity，由于不是主活动,因此不需要配置intent-filter标签里的内容 -->
        <activity
            android:name=".many_buttonActivity"
            android:label="many_buttonActivity" /> <!-- 注册playvideoActivity，由于不是主活动,因此不需要配置intent-filter标签里的内容 -->
        <activity
            android:name=".playvideoActivity"
            android:label="playvideo" />
        <activity
            android:name=".playmusicActivity"
            android:label="playmusic" />
        <activity
            android:name=".in_dashboard_button_ScreenSlidePagerActivity"
            android:label="in_dashboard_button_ScreenSlidePagerActivity" />
    </application>

</manifest>